@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap");
* {
  font-family: "Prompt", sans-serif;
}
.selected__word {
  font-weight: 500;
}

.nav__active {
  color: #343a40 !important;
  font-weight: 600 !important;
}

.logo__navbar {
  color: #343a40;
  font-weight: 600;
  cursor: pointer;
}

.image__profile {
  height: 45px;
  width: 45px;
  object-fit: cover;
}

.text__table {
  vertical-align: middle;
}

.img__profile__com {
  width: 95%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.label__profile {
  font-size: 16px;
  font-weight: 500;
}

.btn__update {
  margin-right: 10px;
}

@media (min-width: 412px) {
  .img__profile__com {
    margin-bottom: 20px;
  }
}
